body {
  background-color: #ffffff;
  font-family: Sans-serif;
}

#boggle-container {
  display: flex;
  flex-direction: column;
  width: 490px;
  margin: 0 auto;
}

#board {
  background-color: #93e4b7;
  padding: 25px; 
}
.row {
  display: flex;
  text-align:center;
  flex-direction:row;
  padding: 5px;
}

.boggle:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.boggle.selected{
  background-color: aquamarine;
}

.boggle {
 width: 80px;
 height: 80px;
 border-radius: 5px;
 background-color: #ffffff;
 box-shadow: -4px 2px 8px 1px rgba(0,0,0,0.69);
 flex:1 1 auto;
 margin:5px;
}

.boggle.selected {
 background-color: #ACCEEC;
}

.boggle span {
 font-weight: bold;
 display: block;
 position: relative;
 top: 50%;
 transform: translateY(-50%);
}

.score-board {
  height: 10%;
}

.timer{
  margin: 0,auto; 
}
.timer > h3 {
  color : rgb(140, 236, 140);
  font-size : 50px;
}